<<<<<<< HEAD
<p style = "text align: center">
  <%= link_to "add new artist?", new_artist_path %>
=======
<p style="text-align: center">
  <%= link_to "Add New Artist?", new_artist_path %>
>>>>>>> eb608d0103fe5cfb50e954268c151c3383a88279
</p>
<%= render @artists %>
