<<<<<<< HEAD
<div id = 'user page'>

<h1>Hello<%= @user.username %> </h1>
=======
<div id="user-page">

  <h1>Hello <%= @user.username %></h1>
>>>>>>> ff38cf10060af6a8de225975401fe987cd1f0e9d

</div>
