<<<<<<< HEAD
<h1>List of students</h1>
<% @students.each do |students| %>
<a href = '/students/<%= student["id"] %>'><%= student['fname'] + ' ' + student["lname"] %></a>
<% end %>
=======

>>>>>>> 9ba3eba33423a37f38520f0c37af784ae26c702f
