<html>
  <head>
    <title>Star Stalker</title>
  </head>

  <body>
    <header>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/stars">Stars</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </header>

    <%= yield %>

  </body>

</html>
