<h1>Star Data</h1>

<h1><%= @star[:name] %></h1>

<% if @star[:alive] %>
  <p>YAY, alive</p>
<% else %>
  <p>AWWWWWWW, he dead</p>
<% end%>

<% @stars.each do |star| %>
<h2><%= star[:name]%></h2>
<h3><%=star[:born_on]%></h3>

<% end %>
